

body {
	font-family: arial,sans-serif;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

nav a {
	text-decoration: none;
	color: #000;
	opacity: 0.75;
	font-size: 0.8rem;
}

a:hover {
	color: inherit;
}

.sign-in {
	border: 1px solid #4285f4;
	outline: none;
	padding: 0.25rem 0.7rem;
	border-radius: 2px;
	vertical-align: top;
}

.main-parent {
	margin: 120px 0 200px;
	
}

.main {
	width: 80%;
}

.main_input {
	max-width: 600px;
	margin: 5px auto;
	border-radius: 30px;
	border: thin solid #9999996e;
	height: 2.9em;
	padding: 1.35rem;

}

.sub-main-input {
	margin-top: -12px;
	flex-flow: row nowrap; 
}

.search-bar {
	color: #9999996e;
}

.main_input input[type=text] {
	position: relative;
	background: #fff;
	border: none;
	outline: none;
	line-height: 1.5rem;
}

.main-button {
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	outline: none;
	border-radius: 4px;
	font-size: 0.95em;
	color: #5F6368;
}


.main-button:hover {
	text-decoration: none;
	color: inherit;
}


footer a {
	text-decoration: none;
	color: #000;
	opacity: 0.75;
	font-size: 0.95rem;
	margin-top: -15px;
}

.footer-styling {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 70px;
}

@media all and (max-width: 500px) {

.main-parent {
	margin: 70px 0 200px;
	
}

.footer-styling {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 100px;
}

}